/* Tabs.css */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .tab-button.active {
    background-color: #917248;
    color: white;
    border-color: #917248;
  }
  
  .tab-button:not(.active):hover {
    background-color: #e0e0e0;
  }
  
  /* ManageBookings.css */
  .manage-bookings {
    padding: 20px;
  }
  
  .see-bookings-section, .book-venue-section {
    margin-top: 20px;
  }
  
  .booking-card, .venue-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .book-button, .cancel-button, .edit-button {
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .book-button:hover, .cancel-button:hover, .edit-button:hover {
    background-color: #00509E;
  }
  