.home-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns of cards */
  gap: 30px; 
  justify-items: center; 
  padding: 40px;
}


@media (max-width: 768px) {
.home-admin {
  grid-template-columns: repeat(2, 1fr); 
  padding: 20px;
  gap: 15px;
}

.card {
  width: 100%; 
  height: auto; 
}
}

/* Responsive */
@media (max-width: 480px) {
.home-admin {
  grid-template-columns: 1fr; /* 1 column instead of 2  */
  gap: 15px;
  padding: 20px;
}

.card {
  width: 100%; 
  height: auto; 
}
}

.card {
  background-color: #003366;
  color: #ffffff; 
  padding: 30px;
  width: 350px; 
  height: 270px; 
  text-align: center;
  border-radius: 15px; 
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-logo {
  width: 150px;  
  height: 150px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px; 
  margin-top: 10px;
  color: #ffffff; 
}

.card:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25); 
}
