.adminrecurringbookings-venue-schedule {
    margin: 1rem 0; 
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 100%; 
    max-width: 100vw; 
}

.adminrecurringbookings-venue-schedule h2 {
    font-size: 1.6rem; 
    margin-bottom: 1rem;
    color: #043673;
    text-align: center;
}


.adminrecurringbookings-venue-schedule-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; /*space between schedule and form */
    flex-wrap: wrap; /*wrap elements if there's not enough space */
}

.adminrecurringbookings-table {
    width: 100%; 
    max-width: 45vw; 
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1rem; 
}

.adminrecurringbookings-table th, .adminrecurringbookings-table td {
    padding: 1rem; 
    border: 1px solid #f0f0f0;
    background-color: #043673;
    color: #f0f0f0;
    font-size: 1rem; 
}  

.adminrecurringbookings-container button {
    background-color: #043673;
    border-radius: 4px;
    padding: 10px 10px;
    color: white;
    font-size: 1.1rem;
    border: none;
}


/*available and scheduled cells */
.adminrecurringbookings-table td.scheduled {
    background-color: #cc8c8c;
    color: #cc0000;
}

.adminrecurringbookings-table td.available {
    background-color: #e1d0b9;
    color: #043673;
}

/*hover effect for table rows */
.adminrecurringbookings-table tr:hover {
    background-color: #f0f0f0;
}

.adminrecurringbookings-booking-form {
    flex: 1; /*allow form to take available space */
    padding: 2%; 
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(7, 7, 7, 0.1);
    margin-top: 2rem; /* Use rem for margin */
    max-width: 60vw; /* Adjust form width based on viewport */
}

.adminrecurringbookings-booking-form input {
    width: 100%; /* Full width for inputs */
    margin-bottom: 1.2rem; /* Use rem for margin */
    padding: 1rem; /* Use rem for padding */
    border: 1px solid #ddd;
    border-radius: 4px; /* Increase border-radius slightly */
}

.adminrecurringbookings-booking-form button {
    width: 100%; /* Full width button */
    padding: 1rem; /* Use rem for padding */
    background-color: #043673;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem; /* Use rem for font size */
}



.adminrecurringbookings-booking-form button:hover {
    background-color: #043673;
}

.adminrecurringbookings-error-message {
    color: red;
    font-size: 1rem; /* Use rem for font size */
    margin-top: 1rem; /* Use rem for margin */
}

.adminrecurringbookings-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; /* Use rem for margin */
}

.adminrecurringbookings-filter-container label {
    font-size: 1.2rem; /* Slightly larger font size */
    font-weight: bold;
    margin-bottom: 1rem; /* Use rem for margin */
    color: #043673;
}

.adminrecurringbookings-filter-container select {
    width: 100%; /* Full width for select */
    padding: 0.8rem; /* Use rem for padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.adminrecurringbookings-filter-container select:focus {
    outline: none;
    border-color: #043673;
}

/* Responsive Design */
@media (max-width: 768px) {
    .adminrecurringbookings-venue-schedule-wrapper {
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
    }

    .adminrecurringbookings-venue-schedule h2 {
        font-size: 1.4rem; /* Slightly smaller for medium screens */
    }

    .adminrecurringbookings-table td, .adminrecurringbookings-table th {
        padding: 0.3rem; /* Adjust padding for medium screens */
    }

    .adminrecurringbookings-table {
        font-size: 0.9rem; /* Adjust font size for medium screens */
    }

    .adminrecurringbookings-booking-form {
        width: 100%; /* Full width for the booking form */
     
    }
    .adminrecurringbookings-booking-form button {
        width: 80%; /* Reduce width for medium screens */
        padding: 0.8rem; /* Slightly smaller padding */
        font-size: 0.9rem; /* Slightly smaller font size */
    }

}

@media (max-width: 500px) {
    .adminrecurringbookings-venue-schedule th, .adminrecurringbookings-venue-schedule td {
        font-size: 0.3rem; /* Adjust font size for small screens */
        padding: 0.6rem; /* Adjust padding for small screens */
    }

    .adminrecurringbookings-table {
        font-size: 0.8rem; /* Further reduce font size */
    }
   

    .adminrecurringbookings-booking-form button {
        width: 100%; /* Keep button full width */
    }

}
