.adminbook-create-booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 40px;
  width: 90%;
  padding-left: 10%;
  margin-bottom: 10px;
}

/*contains filter, calendar, dropdowns */
.adminbook-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap; /* Allow wrapping of elements for better responsiveness */
}

/* Search container */
.adminbook-search-container {
  flex: 0.1; /* Make search container smaller for next to calendar */
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: space-between;
  justify-content: center;
  margin-bottom: 20px;
  min-width: 100%;
}

.adminbook-calendarfilter {
  display: flex;
  /* gap: 90px; space between calendar and search */
  justify-content: center;
  margin-bottom: 50px;
}

.adminbook-calendar-container {
  width: 50%;
}

.adminbook-react-calendar {
  width: 100%;
  font-size: 12px; /* small font for the calendar */
}

.adminbook-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%; 
}

.adminbook-select-container {
  margin-right: 30px;
  margin-left: 30px;
  width: 40%;
}

/* clear  button */
.adminbook-clear-button {
  background-color: #043673;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 10px; 
  align-self: flex-end; 
}

.adminbook-clear-button:hover {
  background-color: #043673;
}

.adminbook-venue-list {
  width: 100%;
  margin-top: 20px;
}

/* individual venue item */
.adminbook-venue-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.adminbook-venue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.adminbook-venue-header h3 {
  margin: 0;
}

.adminbook-venue-header p {
  margin: 0;
  color: #917248; /* status (closed or open) and capacity value */
  font-weight: bold;
}

.adminbook-venue-details {
  padding: 15px;
  background-color: #fafafa;
}

.adminbook-description-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.adminbook-book-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #043673;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.adminbook-book-button:hover {
  background-color: grey;
}

.adminbook-time-slot-button {
  padding: 10px;
  background-color: #043673;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.adminbook-time-slot-button.taken {
  background-color: grey;
  color: white;
  cursor: not-allowed; /* that time slot is  unclickable */
}

.adminbook-time-slot-button.selected {
  background-color: #917248;
  color: white;
  cursor: not-allowed;
}

.adminbook-error-message {
  color: red;
}

/* Responsive */
@media (max-width: 768px) {
  .adminbook-top-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .adminbook-search-container, .adminbook-calendar-container {
    width: 90%; 
    margin-bottom: 10px;
  }

  .adminbook-clear-button {
    font-size: 10px; /* smaller button font size(text) */
    padding: 4px 8px; /* less button padding */
  }

  .adminbook-venue-list {
    width: 100%; 
  }

  .adminbook-venue-item {
    width: 100%;
  }
}