.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
    background-color: #f0f4f9;
}

.booking-list {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 70vh;
}

.booking-list h2 {
    font-size: 1.6rem;
    color: #003d7d;
    padding: 15px 20px;
    background-color: #e6f0ff;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.booking-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.booking-list-entry {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.booking-list-entry:hover {
    background-color: #f1f1f1;
}

.booking-list-entry.past-booking{
    background-color: #f1f1f1;
}

.past-booking-span{
    margin-left: 10px;
    font-weight: bold;
    color: #007BFF;
}

/* Report details styling */
.booking-date {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px; /* Space between title and other content */
}

.booking-venue {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px; /* Add space between text and venue */
}

.booking-time {
    font-size: 1rem;
    color: #007BFF;
    margin-bottom: 5px;
}

.booking-description {
    font-size: 1rem;
    color: #666;
}

.manage-booking-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

.manage-booking-buttons button{
    padding: 2px 5px;
    background-color: #043673;
    color: white;
    font-size: 1.2rem;
    border: none;
    opacity: 1;
    border-radius: 4px;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.manage-booking-buttons button:hover{
    background-color: #917248;
}

.booking-filters-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.booking-filters-container input{
    background-color: #f0f0f0;
    color: black;
    border-radius: 4px;
    height: 20px;
    border: none;
    resize: none;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    .booking-filters-container{
        flex-direction: column;
    }
}