/* General day number styling */
.react-calendar__month-view__days__day {
  color: #043673; /* Default day number color */
}

/* Change color of the current day */
.react-calendar__tile--now {
  color: #fff; /* Change the text color of today */
  background-color: #043673; /* Highlight today */
}

/* Change color of the selected day */
.react-calendar__tile--active {
  color: white; /* Change the text color of the active day */
  background-color: #917248; /* Highlight the selected day */
}



/* Change color of hovered day */
.react-calendar__tile:enabled:hover {
  color: #fff; /* Change text color on hover */
  background-color: #043673; /* Change background color on hover */
}

/* Days from neighboring months (disabled state) */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc; /* Color for days from previous/next month */
}

/* Change color of weekdays */
.react-calendar__month-view__weekdays__weekday {
  color: #043673; /* Change the text color of weekdays (Mon-Fri) */
}
