/* homePage.css */

.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #917248;
  border-radius: 15px;
  width: fit-content; /* Ensure the section adjusts to the size of its content */
  margin: 15px auto 0 auto; /* Center the section horizontally */
}

.welcome-name {
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 30px; /* Increase gap between cards */
  justify-items: center;
  padding: 40px;
}

.card {
  background-color: #003366;
  color: #ffffff; /* Set text color to white */
  padding: 30px;
  width: 300px; 
  height: 180px; 
  text-align: center;
  border-radius: 15px; /* Rounded corners */
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); /* Softer shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-logo {
  width: 150px;  
  height: 150px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px; 
  margin-top: 10px;
  color: #ffffff; /* Ensure the header text is white */
}

.card:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25); /* Deeper shadow on hover */
}


@media (max-width: 768px) {
  .main-icon {
    width: 120px;
  }

  .icon-img {
    font-size: 2rem;
  }

  .main-icon p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {

  .main-icon {
    width: 100%;
    max-width: 250px;
  }

  .icon-img {
    font-size: 1.8rem;
  }

  .main-icon p {
    font-size: 0.85rem;
  }
}
