.adminmanage-tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  flex-wrap: wrap; /* tabs wrap on smaller screens -placed on multiple lines*/
}

.adminmanage-tab {
  flex: 1;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  border: none;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  min-width: 150px; /* ensure buttons have a minimum width */
  background-color: #043673;
}

.adminmanage-tab:hover {
  background-color: #917248;
}

.adminmanage-active {
  background-color: #917248;
  color: white;
  border-bottom: 2px solid #917248;
}

.adminmanage-tab-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Responsive  */
@media (max-width: 768px) {
  .adminmanage-tabs {
    flex-direction: column;
    gap: 5px; /*small  gap between buttons  */
  }

  .adminmanage-tab {
    padding: 10px 20px;
    font-size: 14px;
  }
}