/* Container for the requests to grow and fill the page */
.reports-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  background-color: #f0f4f9;
}

.reports-container h2 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.6rem;
  color: #003d7d;
  padding: 15px 20px;
  background-color: #e6f0ff;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  max-width: 1200px;
}


   
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  background-color: white;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 1200px;
}

.tabs button {
  padding: 10px 30px;
  margin: 0 10px;
  border: none;
  background-color: transparent;
  color: #555;
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 3px solid transparent;
}

/* .tabs button.active {
  font-weight: bold;
  border-bottom: 3px;
} */

/* Active tab */
.tabs button.active {
  color: #917248;
  font-weight: bold;
  border-bottom: 3px solid #917248;
}

/* Hover state for non-active tabs */
.tabs button:hover:not(.active) {
  color: #917248;
  background-color: transparent !important; /* Ensure transparency */
  border-bottom: 3px solid transparent; /* Keep the bottom border transparent */
}

.tabs button:hover:not(.active) {
  background-color: transparent !important; /* Force transparency */
}

.reports-list {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 60vh;
}

.reports-list h3 {
  font-weight: bold;
    font-size: 1.5rem;
}

.reports-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reports-list li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  gap: 2px;
}

.reports-list li:hover {
  background-color: #f1f1f1;
}

.manage-reports-button-container{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 5px;
}

.manage-reports-button-container button{
  padding: 2px 5px;
  font-size: 1.2rem;
  border: none;
  opacity: 1;
  border-radius: 4px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  background-color: #043673;
  color: white;
}

.manage-reports-button-container button:hover{
  background-color: #917248;
}

@media (max-width: 768px) {
  .tabs button {
    font-size: 0.9rem;
  }

  .tabs{
    flex-direction: column;
  }
}
