/* Notification.css */
.popupNotif-panel {
  position: absolute;
  right: -300px;
  top: 80px;
  width: 300px;
  height: calc(100% - 65px);
  background-color: #043673;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.popupNotif-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #917248; /* background */
  color: white; /* White text */
}

.popupNotif-panel.open {
  right: 0;
}

.popupNotif-close-btn {
  background-color: #043673;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px; /* Add margin to create space between the button and heading */
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.5em;
}
.popupNotif-close-btn:hover {
  background-color: #917248;
}

.popupNotif-list ul {
  list-style-type: none;
  padding: 0;
}

.checkmark {
  color: grey;
  font-size: 1.3rem;
  border: none;
  background: none;
  cursor: pointer;
}

.checkmark:hover {
  color: #917248;
}

.checkmark.checked {
  color: #043673;
}

.popupNotif-list li {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  color: #043673; /* notification text white */
  white-space: pre-line;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
  background-color: white;
  border-radius: 15px;
}

.notif-text-container {
  display: flex;
  flex-direction: column;
}

.notif-text-bold {
  font-weight: bold;
  cursor: pointer;
}

/* .notifications-list input {
  margin-right: 10px;
  margin-left: 10px;
} */
