/* Updated Notification.css */
.popupNotif-panel {
  position: absolute; /* Changed to fixed for better alignment */
  right: -300px;
  top: 80px;
  width: 300px;
  min-height: calc(100vh - 65px);
  height: calc(100vh - 65px);
  /* height: 100d; */
  background-color: #043673;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overscroll-behavior: auto;
}

.popupNotif-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Ensure proper padding */
  background-color: #917248;
  color: white;
  margin: 0; /* Ensure no margin on heading */
}

.popupNotif-panel.open {
  right: 0; /* Fully open the panel */
}

.checkmark {
  color: grey;
  font-size: 1.3rem;
  border: none;
  background: none;
  cursor: pointer;
}
.checkmark:hover {
  color: #917248;
}
.checkmark.checked {
  color: #043673;
}

.popupNotif-close-btn {
  background-color: #043673;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  font-size: 1.5em;
}

/* .popupNotif-list { */
  /* padding: 0 20px; Adjust padding to center content */
/* } */

.popupNotif-list ul {
  list-style-type: none;
  padding: 0 20px;
}

.popupNotif-list li {
  padding: 10px;
  display: flex;
  align-items: center;
  color: #043673;
  white-space: pre-line;
  margin: 10px 0;
  background-color: white;
  border-radius: 15px;
  gap: 10px;
}

.notif-text-container {
  display: flex;
  flex-direction: column;
}

.notif-text-bold {
  font-weight: bold;
  cursor: pointer;
}
