/* Sidebar styling */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  background-color: #002d64;
  overflow-x: hidden;
  transition: all 0.3s ease;
  padding-top: 0px;
  z-index: 100000;
  border-top-right-radius: 15px;
}

/* Sidebar when open */
.sidebar.open {
  left: 0; /* Moves sidebar into view */
}

/* Top section of the sidebar */
.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #002d64;
}

/* Bottom section of the sidebar */
.bottomSection {
  display: flex;
  flex-direction: column;
  background-color: #002d64;
  align-items: center;
  padding: 10px;
}

/* Close button styling */
.close-btn {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #002d64;
  color: white;
  border: 2px solid #917248;
  cursor: pointer;
  border-radius: 15px;
}

/* General button styling for main items */
.dashboard-btn,
.venues-btn,
.reports-btn,
.logout-btn,
.admin-btn {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #917248;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

/* Hover effect for main buttons */
.dashboard-btn:hover,
.venues-btn:hover,
.reports-btn:hover,
.logout-btn:hover {
  background-color: #6f5233;
}

/* Admin sub-buttons container */
.admin-subbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  opacity: 0; /* Initially hidden */
  height: 0;
  transition: all 0.3s ease-out; /* Smooth animation */
  overflow: hidden;
}

/* Admin sub-buttons when open */
.admin-subbuttons.open {
  opacity: 1;
  height: auto; /* Expand to fit content */
}

/* Sub-button styling */
.sub-btn {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #4c73f5;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-size: 60%;
  width: 100%; /* Make the button fill the available width */
  max-width: 200px; /* Limit max width to ensure alignment */
}

/* Hover effect for sub-buttons */
.sub-btn:hover {
  background-color: #3b5fc9; /* Darker blue on hover */
}

/* Logout button hover */
.logout-btn:hover {
  background-color: #6f5233;
}
