.arrow-button{
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0 5px 5px rgba(0,0,0,.1);
    border: none;
    background: none;
    cursor: pointer;
}

.date-button{
    font-size: 1.6rem;
    border: none;
    background: none;
    cursor: pointer;
}

.date-content{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    width: 100%;
}

.venue-row-content{
    display: block;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
}

.venue-row-main{
    height: 50px;
    padding: 0 8px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.venue-row-text{
  font-size: 1.2rem;
}

.closed-marker {
  background-color: #f0f0f0;
  color: grey;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 0 5px;
}

.closed-marker.shown {
  opacity: 1;
  z-index: 999;
}

.closed-marker.hidden {
  max-height: 0px;
  opacity: 0;
  z-index: -1;
}

.date-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: relative;
}

.greater-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0px 20px;
}

.inner-search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
  width: 100%;
  margin: 0px 10px 10px 10px;
}

.main-search-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.search-input {
  background-color: #f0f0f0;
  color: black;
  border-radius: 20px;
  height: 40px;
  border: none;
  width: 100%;
  resize: none;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 1.2rem;
}

.times-input {
  background-color: #f0f0f0;
  color: black;
  border-radius: 4px;
  height: 20px;
  border: none;
  resize: none;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 1rem;
  width: 120px;
}

.times-input-container{
  display: flex;
  margin-top: 10px;
  gap: 10px;
  margin-left: 20px;
}

/* .email-input {
  background-color: #f0f0f0;
  color: black;
  border-radius: 4px;
  height: 20px;
  border: none;
  resize: none;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 1rem;
  width: 120px;
} */

.venue-info-container{
  justify-content: start;
  display: flex;
  align-items: start;
  flex-direction: row;
  padding-left: 20px;
}

.venue-info-text-category{
  justify-content: start;
  font-weight: bold;
  padding-right: 5px;
}

.venue-info-text{
  justify-content: start;
}

.popup {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
  display: flex;
  flex-direction: column;
  z-index: -1;
}
  
.popup.open {
  max-height: fit-content;
  opacity: 1;
  padding-bottom: 10px;
  z-index: 1;
}

.popup.closed {
  max-height: 0px;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.calendar-popup {
  position: absolute; 
  top: 590%;
  left: 50%;
  transform: translate(-50%, -76.5%);
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: -1;
  border-radius: 10px;
}

.calendar-popup.open {
  opacity: 1;
  z-index: 9999;
}

.calendar-popup.closed {
  opacity: 0;
}

.book-action-container{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 20px;
}

.admin-book-action-container{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 20px;
  gap: 10px;
}

.admin-management-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 20px;
  gap: 10px;
}

.book-button {
  padding-top: 2px;
  background-color: #043673;
  color: white;
  font-size: 1.4rem;
  border: none;
  width: fit-content;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}

.book-button:hover {
  background-color: #917248;
}
  
.book-button.shown {
  max-height: min-content;
  opacity: 1;
}

.book-button.hidden {
  max-height: 0px;
  opacity: 0;
  pointer-events: none;
}

.manage-popup-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.manage-popup-container button {
  margin-top: 10px;
  padding: 1px 8px 0 8px;
  background-color: #043673;
  color: white;
  font-size: 1.4rem;
  border: none;
  width: fit-content;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
  align-self: flex-end;
}

.manage-popup-container button.clicked {
  background-color: #917248;
}

.manage-popup-container button:hover {
  background-color: #917248;
}

.description-input {
  background-color: #f0f0f0;
  color: black;
  padding: 2px 5px;
  border-radius: 4px;
  width: 60%;
  resize: none;
  border: none;
  font-size: 1rem;
  font-family: unset;
}

.description-input::placeholder {
  /* color: rgb(119, 119, 119); */
  opacity: 0.5;
}

.description-input.shown {
  opacity: 1;
}

.description-input.hidden {
  max-height: 0px;
  opacity: 0;
  pointer-events: none;
}

.email-input {
  background-color: #f0f0f0;
  color: black;
  padding: 2px 5px;
  border-radius: 4px;
  width: 60%;
  resize: none;
  border: none;
  font-size: 1rem;
}

.email-input::placeholder {
  /* color: rgb(119, 119, 119); */
  opacity: 0.5;
}

.email-input.shown {
  opacity: 1;
}

.email-input.hidden {
  max-height: 0px;
  opacity: 0;
  pointer-events: none;
}

.expand-row-button{
  padding: 3px 0 0 0;
  /* padding-right: 30px; */
  color: #043673;
  font-size: 2.4rem;
  border: none;
  background: none;
  cursor: pointer;
}

.expand-row-button.shown {
  opacity: 1;
  z-index: 999;
}

.expand-row-button.hidden {
  max-height: 0px;
  opacity: 0;
  z-index: -1;
}

.search-row-button{
  color: #043673;
  font-size: 2.2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.filter-dropdown {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
  display: flex;
  flex-direction: column;
}
  
.filter-dropdown.open {
  max-height: fit-content; /*Adjust according to content height*/
  opacity: 1;
  padding-bottom: 10px;
  z-index: 1000;
}

.filter-dropdown.closed {
  max-height: 0px;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.filter-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filter-text {
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 20px;
}

.filter-dropdown {
  margin-right: 20px;
}

.filter-button-container{
  margin-left: 20px;
  padding-left: 20px;
}

.slider-text {
  font-weight: bold;
  direction: ltr;
  text-align: left;
  unicode-bidi: plaintext;
  transform: translateX(20px);
  min-width: 20px;
  max-width: 20px;
}

.capacity-slider{
  display: flex;
  align-items: center;
  width: 100%;
  height: 15px;
  z-index: 5;
  /* margin-left: 10px; */
}

.slider-thumb{
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  background-color: #043673;
  color: #fff;
  border-radius: 50%;
  cursor: grab;
  z-index: 5;
}

.slider-thumb:hover {
  background-color: #917248;
}

.slider-track{
  top: 0;
  bottom: 0;
  background: #f0f0f0;
  border-radius: 999px;
}

.filter-select{
  background: #f0f0f0;
  border-radius: 4px;
  border: none;
  padding: 5px 0;
}

.expand-row-button:hover{
  color: #917248;
}

.management-button{
  padding: 2px 5px;
  background-color: #043673;
  color: white;
  font-size: 1.2rem;
  border: none;
  opacity: 1;
  border-radius: 4px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.management-button:hover{
  background-color: #917248;
}

.timeslot-button{
  padding: 2px 5px;
  background-color: #043673;
  color: white;
  font-size: 1.2rem;
  border: none;
  opacity: 1;
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 10px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.timeslot-button.booked{
  opacity: 50%;
  pointer-events: none;
}

.timeslot-button:hover{
  background-color: #917248;
}

.timeslot-button.clicked{
  background-color: #917248;
}

.caret-icon {
  transition: opacity 0.3s ease; 
  opacity: 1;
}

.expand-row-button:active .caret-icon {
  opacity: 0; 
}

.timeslot-buttons-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  padding-top: 10px;
  width: fit-content;
}

.search-manage-button{
  /* padding-top: 2px; */
  margin-left: 20px;
  padding: 2px 8px 0 8px;
  background-color: #043673;
  color: white;
  font-size: 1.4rem;
  border: none;
  width: fit-content;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
}

.search-manage-button:hover{
  background-color: #917248;
}

.search-manage-button.clicked{
  background-color: #917248;
}

.schedules-table {
  width: 100%; 
  max-width: 45vw; 
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1rem; 
  margin-left: 20px;
  border: none;
  background: none;
  margin-bottom: 10px;
}

.schedules-table th, .schedules-table td {
  padding: 1rem; 
  background-color: #043673;
  color: #f0f0f0;
  font-size: 1rem; 
  border: none;
} 
.schedules-table td {
  border: 1px solid white;
}  

.schedules-table th.corner-top-left{
  border-top-left-radius: 10px;
}

.schedules-table td.corner-bottom-right{
  border-bottom-right-radius: 10px;
}

.schedules-table th.corner-top-right{
  border-top-right-radius: 10px;
}

.schedules-table th.corner-bottom-left{
  border-bottom-left-radius: 10px;
}

/*available and scheduled cells */
.schedules-table td.scheduled {
  background-color: #cc8c8c;
  color: rgb(74, 0, 0);
  cursor: pointer;
}

.schedules-table td.available {
  background-color: #e1d0b9;
  color: black;
  cursor: pointer;
}

.schedules-table td.selected {
  background-color: #043673;
  color: white;
  cursor: pointer;
}

/*hover effect for table rows */
.schedules-table td.available:hover {
  background-color: #917248;
  color: white;
}

.schedules-container {
  display: flex;
  flex-direction: column;
}

.schedule-details {
  margin-left: 20px ;
}

.date-content h1{
  font-size: 2rem;
  font-weight: normal;
}

@media screen and (max-width: 768px){

  .timeslot-buttons-container{
    align-items: center;
  }

  .search-manage-button{
    margin-left: 0px;
    font-size: 1rem;
  }

  .schedules-table td, .schedules-table th {
      padding: 0.3rem; /* Adjust padding for medium screens */
  }

  .schedules-table {
      font-size: 0.9rem; /* Adjust font size for medium screens */
  }

}


@media (max-width: 500px) {
  .schedules-table th, .schedules-table td {
      font-size: 0.3rem; /* Adjust font size for small screens */
      padding: 0.6rem; /* Adjust padding for small screens */
  }

  .schedules-table{
      font-size: 0.8rem; /* Further reduce font size */
  }

}