.arrow-button{
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0 5px 5px rgba(0,0,0,.1);
    border: none;
    background: none;
}

.date-button{
    font-size: 1.6rem;
    border: none;
    background: none;
}

.date-content{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    width: 100%;
}

.venue-row-content{
    /* padding: 2px 20px 0 20px; */
    display: block;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    /* width: 98%;
    border-radius: 4px;
    background-color: white; */
}

.venue-row-main{
    height: 50px;
    /* padding-top: 2px; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    /* gap: 10px; */
    /* width: 95%; */
}

.venue-row-text{
  padding-left: 5px;
  font-size: 1.2rem;
}

.date-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: relative;
}

.venue-info-container{
  justify-content: start;
  display: flex;
  align-items: start;
  flex-direction: row;
  padding-left: 20px;
}

.venue-info-text-category{
  justify-content: start;
  font-weight: bold;
  padding-right: 5px;
}

.venue-info-text{
  justify-content: start;
}

.popup {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  /* align-items: center; */
}
  
.popup.open {
  max-height: fit-content; /*Adjust according to content height*/
  opacity: 1;
  padding-bottom: 10px;
}

.popup.closed {
  max-height: 0px;
  opacity: 0;
}

.calendar-popup {
  position: absolute; 
  top: 590%;
  left: 50%;
  transform: translate(-50%, -76.5%);
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: -1;
  border-radius: 10px;
}

.calendar-popup.open {
  opacity: 1;
  z-index: 999;
}

.calendar-popup.closed {
  opacity: 0;
}

.expand-row-button{
  padding-top: 3px;
  /* padding-right: 30px; */
  color: #043673;
  font-size: 2.4rem;
  border: none;
  background: none;
}

.expand-row-button:hover{
  color: #917248;
}

.timeslot-button{
  /* padding-top: 3px; */
  padding: 2px 5px;
  /* padding-right: 30px; */
  background-color: #043673;
  color: white;
  font-size: 1.2rem;
  border: none;
  opacity: 1;
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 10px;
  align-items: center;
  width: fit-content;
}

.timeslot-button:hover{
  background-color: #917248;
}

.caret-icon {
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  opacity: 1;
}

.expand-row-button:active .caret-icon {
  opacity: 0; /* Fades out the icon when clicking */
}

.timeslot-buttons-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-direction: row; */
  /* align-items: space-between; */
  justify-content: space-around;
  /* flex-wrap: wrap; */
  padding-top: 10px;
  width: fit-content;
  /* align-items: start; */
  /* margin-left: 20px; */
}

@media screen and (max-width: 768px){
  /* .calendar-popup {
    transform: translate(-50%, -63%);
  } */

  .venue-row-main{
    padding: 2px 10px 0 10px;
  }

  .timeslot-buttons-container{
    justify-content: space-between;
    width: auto;
    margin-right: 20px;
  }

}